body {
    font-family: "Roboto", sans-serif;
    max-height: 100vh;
    max-width: 100vw;

    background-image: url("../../../images/background-images/army-background.png");
    backdrop-filter: blur(0.2em);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(0.2em);
    z-index: -1;
    color: var(--main-white-color);
    position: relative;
}

header {
    display: flex;
    align-items: center;
    text-align: end;
    flex-flow: row-reverse;
    height: 100%;
}

header img {
    width: 5rem;
}

.grid{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr;
}

h1 {
    font-size: 6rem;
    text-align: center;
    margin-top: 2rem;
    font-family: "Cinzel Decorative", Arial, serif;
    font-style: italic;
    font-weight: bold;
}

h3 {
    font-size: 2rem;
    text-align: center;
    font-family: Arial, serif;
    font-style: italic;
    font-weight: bold;
}

.button-style {
    text-align: center;
    margin-top: 4rem;
    font-size: 3rem;
    color: var(--main-white-color);
    padding: 1rem;
    border: var(--main-white-color) solid;
    border-radius: 1rem;
    display: block;
    width: 100%;
    text-decoration: none;
}

.button-style:hover {
    background-color: rgb(230, 177, 0);
}

#playername {
    text-align: end;
    font-size: 2rem;
}
#playername-changer label{
    color: var(--main-black-color);
}

main {
    height: 100%;
}

.grid-container {
    display: grid;
    height: fit-content;
}

.container div {
    align-self: center;
    justify-self: center;
}
.popup-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 50%);
    z-index: 2;
    display: grid;
}

.popup-container .popup {
    align-self: center;
    justify-self: center;
    background-color: var(--main-white-color);
    font-size: 3rem;
    text-align: center;
}

#close{
    justify-content: right;
}

.popup-container.hidden{
    display: none;
}

