main {
    display: grid;
    grid-template-columns: 0.7fr 1.6fr 0.7fr;
    grid-template-rows: 5% 1fr 1.75fr 1.25fr;
    height: 100vh;
    grid-template-areas:    "username market header"
                            "username market info"
                            "username market bank"
                            "user-info user-info history";
}

header {
    grid-area: header;
    display: flex;
    justify-content: flex-end;
}

.username-flexcontainer {
    grid-area: username;
    display: flex;
    background-color: sandybrown;
}

.market-grid-container {
    grid-area: market;
    /*background-color: blueviolet; Dit mag inprincipe al weg*/
}

.user-info-flexcontainer {
    grid-area: user-info;
    background-color: red;
}

.history {
    grid-area: history;
    background-color: darkblue;
}

.lobby-info {
    grid-area: info;
    background-color: darkgreen;
}

.bank-flexcontainer {
    grid-area: bank;
    background-color: grey;
}

.pickable-noble {
    border: 0.25rem;
    border-color: yellow;
    transition: 1s infinite ease-in-out;
}

.pickable-noble:hover {
    border: 1rem;
}

.own-reserved-cards {
    display: flex;
    gap: 2rem;
}

