:root {
    --main-bg-color: #f4f4f4;
    --main-header-bg-color: #2c3e50;
    --main-white-color: white;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: var(--main-header-bg-color);
    color: var(--main-white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.5rem;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5% 3fr 3fr;
    height: 100vh;
    grid-template-areas:    ". . header"
                            "username market bank-info"
                            "user-info user-info history";
}

header {
    grid-area: header;
}

.username-flexcontainer {
    grid-area: username;
    display: flex;
    background-color: sandybrown;
}

.market-grid-container {
    grid-area: market;
    background-color: blueviolet;
}

.user-info-flexcontainer {
    grid-area: user-info;
    background-color: red;
}

.history {
    grid-area: history;
    background-color: darkblue;
}

.bank-info-flexcontainer {
    grid-area: bank-info;
    background-color: darkgreen;
}
