body {
    background-color: #f4f4f4;
    font-family: "Roboto", sans-serif;
}

header{
    display: flex;
    align-items: center;
    text-align: end;
    flex-flow: row-reverse;
}

header img{
    width: 5rem;
}

main{
    width: 40%;
    margin: auto;
}

h1 {
    font-size: 6rem;
    text-align: center;
    margin-top: 2rem;
    font-family: "Cinzel Decorative", Arial, serif ;
    font-style: italic;
    color: rgb(255,195,0);
    font-weight: bold;
}

button{
    text-align: center;
    margin-top: 4rem;
    font-size: 3rem;
    background-color: rgb(255,195,0);
    color: black;
    padding: 1rem;
    border: black solid;
    border-radius: 1rem;
    display: block;
    width: 100%;
}

#username {
    text-align: end;
    font-size: 2rem;
}