body {
    background-color: #f4f4f4;
    font-family: "Roboto", sans-serif;
    max-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    text-align: end;
    flex-flow: row-reverse;
}

header img {
    width: 5rem;
}

h1 {
    font-size: 6rem;
    text-align: center;
    margin-top: 2rem;
    font-family: "Cinzel Decorative", Arial, serif;
    font-style: italic;
    color: rgb(255, 195, 0);
    font-weight: bold;
}

h3 {
    font-size: 2rem;
    text-align: center;
    font-family: Arial, serif;
    font-style: italic;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.button-style {
    text-align: center;
    margin-top: 4rem;
    font-size: 3rem;
    background-color: rgb(255, 195, 0);
    color: black;
    padding: 1rem;
    border: black solid;
    border-radius: 1rem;
    display: block;
    width: 100%;
    text-decoration: none;
}

.button-style:hover {
    background-color: rgb(230, 177, 0);
}

#username {
    text-align: end;
    font-size: 2rem;
}

main {
    height: 100%;
}

.grid-container {
    display: grid;
    height: fit-content;
}

.container div {
    align-self: center;
    justify-self: center;
}

