.settings{
    display: flex;
    align-content: flex-end;
}

.splendor-name{
    font-family: "Cinzel Decorative", serif;
    text-align: center;
    margin-top: 1rem;
    font-style: italic;
    font-weight: bold;
}

.lobby-name{
    text-align: center;
    margin-top: 1rem;
}

.spectators{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#spectators{
    display: flex;
    justify-content: right;
}

#settings{
    display: flex;
    justify-content: center;
    height: 2rem;
    width: 2rem;
}