.username-flexcontainer{
    display: block;
    padding-left: 0.5rem;
    padding-top: 1rem;
}
.token-container {
    position: relative;
    display: inline-block;
    margin: 0.25rem;
}

.token {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    border: 0.1rem solid black;
    color: black;
}

.main {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.small {
    width: 0.75rem;
    height: 1rem;
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    font-size: 0.5rem;
}
.red {
    background: red;
    color: black;
}
.green {
    background: green;
    color: black;
}
.blue {
    background: blue;
    color: white;
}
.white {
    background: white;
    color: black; }
.black {
    background: black;
    color: white; }
.yellow {
    background: yellow;
    color: black; }
