.username-flexcontainer{
    display: inline-block;
    padding-top: 2rem;
    padding-left: 1rem;
}

.tokens{
    display: inline-block;
    border-radius: 50%;
    height: 8%;
    width: 10%;
    align-content: center;
    text-align: center;
}

.cards{
    display: inline-block;
    height: 8%;
    width: 5%;
    align-content: center;
    text-align: center;
    border: black solid;
}

#white-gem{
    background-color: white;
}

#red-gem{
    background-color: red;
}

#blue-gem{
    background-color: blue;
}

#black-gem{
    color: white;
    background-color: black;
}

#green-gem{
    background-color: green;
}

#yellow-gem{
    background-color: yellow;
}

#red-card{
    background-color: red;
}

#blue-card{
    background-color: blue;
}

#black-card{
    color: white;
    background-color: black;
}

#green-card{
    background-color: green;
}

#white-card{
    background-color: white;
}
