:root {
 --main-bg-color: #f4f4f4;
 --main-header-bg-color: #2c3e50;
 --main-white-color: var(--not-white);
 --main-black-color: var(--black);
 --main-blue-color: blue;
 --main-grey-color: grey;
 --main-red-color: red;
 --main-green-color: green;
 --main-yellow-color: yellow;
 --clickable-color: hotpink;


 /* MAIN REDESIGN COLORS */
 --dark-green : #565939;
 --beige : #BFAD8A;
 --dark-beige : #A69677;
 --black : #262524;
 --off-black : #000000;
 --brown : #594940;
 --not-white : #F0EEE4;

/* TOKEN COLOURS*/
 --ruby-token-color: #CD332E;
 --ruby-token-color-border: #9C352C;

 --sapphire-token-color: #3256B8;
 --sapphire-token-color-border: #2B4E8B;

 --emerald-token-color: #2CA42C;
 --emerald-token-color-border: #26812A;

 --diamond-token-color: #F5F4EE;
 --diamond-token-color-border: #CAC7BF;

 --onyx-token-color: #434043;
 --onyx-token-color-border: #2F2C30;

 --gold-token-color: #FAE14A;
 --gold-token-color-border: #E6B50C;
}

* {
 box-sizing: border-box;
}

body {
 background-image: url("../../images/background-images/army-background.png");
 backdrop-filter: blur(0.2em);
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;

 font-family: Arial, sans-serif;
 background-color: var(--main-bg-color);
 margin: 0;
 padding: 0;
 max-height: 100vh;
 max-width: 100vw;
}

header {
 width: 100%;

 display: flex;
 align-items: center;
 justify-content: space-between;
}

/*region Styling for The playerName */

header a{
 display: flex;
 transition: ease-in-out 0.1s;

 align-items: center;
 justify-content: center;
 margin-top: 1.625rem;
 margin-right: 0.625rem;
 padding: 0.5rem;

 text-decoration: none;
 font-family: "Saira stencil one", Arial, serif;
 color: var(--main-black-color);

 background-color: var(--beige);
 border: solid var(--dark-beige) 0.2rem;
 border-radius: 1rem;
}

header a:hover{
 transition: ease-in-out 0.1s;
 background-color: var(--brown);
 border: var(--main-black-color) solid;
 color: var(--beige);
}

header img {
 width: 25%;
 margin-right: 1.5rem;
}

#playername {
 text-align: end;
 font-size: 3rem;
 height: 50%;
 padding: 0.4rem;
}

/*region end*/

/*region Styling for the button */
.button-style {
 display: block;
 width: 35rem;

 background-color: var(--beige);
 color: var(--main-black-color);
 border: var(--dark-beige) solid;
 border-radius: 1rem;


 margin-top: 2rem;
 margin-left: auto;
 margin-right: auto;
 padding: 1rem;

 font-family: "Saira stencil one", Arial, serif;
 text-align: center;
 font-size: 3rem;
 text-decoration: none;

 transition: ease-in-out 0.1s;
}

.button-style:hover {
 transition: ease-in-out 0.1s;

 background-color: var(--brown);
 border: var(--main-black-color) solid;
 color: var(--beige);
}

.button-style-popup {
  width: 10rem;
 padding: 0.3rem;
 font-size: 2rem;
 margin-top: 1rem;

}
/*end region*/


.hidden{
 display: none;
}

.clickable{
 cursor: pointer;
 border: var(--clickable-color) solid;
}
