:root {
 --main-bg-color: #f4f4f4;
 --main-header-bg-color: #2c3e50;
 --main-white-color: var(--offwhite);
 --main-black-color: var(--black);
 --main-blue-color: blue;
 --main-grey-color: grey;
 --main-red-color: red;
 --main-green-color: green;
 --main-yellow-color: yellow;
 --clickable-color: hotpink;
 --popup-titlte-color: #333333;


 /* MAIN REDESIGN COLORS */
 --dark-green : #565939;
 --lighter-green : #888b69;
 --beige : #BFAD8A;
 --dark-beige : #A69677;
 --black : #262524;
 --off-black : #000000;
 --brown : #594940;
 --offwhite : #F0EEE4;

 /* TOKEN COLOURS*/
 --ruby-token-color: #CD332E;
 --ruby-token-color-border: #9C352C;

 --sapphire-token-color: #3256B8;
 --sapphire-token-color-border: #2B4E8B;

 --emerald-token-color: #2CA42C;
 --emerald-token-color-border: #26812A;

 --diamond-token-color: #F5F4EE;
 --diamond-token-color-border: #CAC7BF;

 --onyx-token-color: #434043;
 --onyx-token-color-border: #2F2C30;

 --gold-token-color: #FAE14A;
 --gold-token-color-border: #E6B50C;
}

* {
 box-sizing: border-box;
 font-family: "Saira stencil one", Arial, serif;
}

body {
 background-image: url("../images/background-images/army-background.png");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;

 font-family: Arial, sans-serif;
 background-color: var(--main-bg-color);
 margin: 0;
 padding: 0;
 max-height: 100vh;
 max-width: 100vw;
}

header {
 width: 100%;

 color: var(--main-white-color);
 display: flex;
 align-items: center;
 justify-content: space-between;
}

/*region Styling for The playerName */

header a{
 display: flex;
 transition: ease-in-out 0.1s;

 align-items: center;
 justify-content: center;
 margin-top: 1.625rem;
 margin-right: 0.625rem;
 padding: 0.5rem;

 text-decoration: none;
 font-family: "Saira stencil one", Arial, serif;
 color: var(--main-black-color);

 background-color: var(--beige);
 border: solid var(--dark-beige) 0.2rem;
 border-radius: 1rem;
}

header a:hover{
 transition: ease-in-out 0.1s;
 background-color: var(--brown);
 border: var(--main-black-color) solid;
 color: var(--beige);
}

header #profile-picture {
 width: 5rem;
 margin-right: 0.75rem;
}

#playername {
 text-align: end;
 font-size: 3rem;
 height: 50%;
 padding: 0.4rem;
}
#renderButton{
 display: flex ;
 align-items: center;
 width: fit-content;
 max-width: 30rem;
 font-family: "Saira stencil one", Arial, serif;
 font-size: 2rem;
 background-color: var(--beige);
 border: solid var(--dark-beige) 0.2rem;
 padding: 1rem 2rem 1rem 0.75rem;
 border-radius: 1rem;
 margin-right: 0.5rem;
 margin-top: 4rem;
 z-index: 1;
 text-align: end;


}
#renderButton span{
 contain: content;
 overflow-x: hidden;
 overflow-y: hidden;
 text-overflow: ellipsis;

}
#renderButton:hover{
 transition: ease-in-out 0.1s;
 background-color: var(--brown);
 border: var(--main-black-color) solid 0.2rem;
 color: var(--beige);
}



/*region end*/

/*region Styling for the button */
.button-style {
 display: block;
 width: 35rem;

 background-color: var(--beige);
 color: var(--main-black-color);
 border: var(--dark-beige) solid;
 border-radius: 1rem;


 margin-top: 2rem;
 margin-left: auto;
 margin-right: auto;
 padding: 1rem;

 font-family: "Saira stencil one", Arial, serif;
 text-align: center;
 font-size: 3rem;
 text-decoration: none;

 transition: ease-in-out 0.1s;
}

.button-style:not([disabled]):hover {
 transition: ease-in-out 0.1s;

 background-color: var(--brown);
 border: var(--main-black-color) solid;
 color: var(--beige);
}

.button-style:disabled {
 transition: ease-in-out 0.1s;
 opacity: 0.5;
}

.button-style-popup {
 transition: ease-in-out 0.1s;
 width: 20rem;
 padding: 0.3rem;
 font-size: 2rem;
 margin-top: 1rem;

}
/*end region*/


body .hidden{
 display: none;
}

body{
 position: relative;
}

.popup-container {
 position: absolute;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 75%);
 z-index: 2;
 display: grid;
}

.popup-container .popup {
 align-self: center;
 justify-self: center;
 color: var(--main-black-color);
 background-color: var(--offwhite);
 padding: 1rem 2rem;
 border-radius: 1rem;
 font-size: 3rem;
 text-align: center;
}

.popup-container.hidden{
 display: none;
}

#close{
 justify-content: right;
}

.clickable{
 cursor: pointer;
 transition: all 0.2s ease-in-out;
}

input[type="text"] {
 width: 20rem;
 border-radius: 0.5rem;
 border: 0.125rem solid var(--main-black-color);
 font-size: 2rem;
}

input[type="text"]:focus {
 outline: none;
 border: 0.125rem solid #e53935;
 box-shadow: 0 0 0.5rem 0.125rem #ff5252;
}
