.bank-flexcontainer h2{
    text-align: center;
    font-size: 2rem;
    padding-top: 0.2rem;
}

.bank-flexcontainer .token-bank{
    width: 80%;
    display: grid;
    height: 12rem;
    margin: 1rem auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:    "red-token green-token black-token"
                            "blue-token white-token joker-token";
}

.bank-flexcontainer .token-bank button{
    border-radius: 100%;
    font-size: 3rem;
    margin: 0.5rem;
}

.bank-flexcontainer .red-token{
    background-color: red;
    grid-area: red-token;
}

.bank-flexcontainer .green-token{
    background-color: green;
    grid-area: green-token;
}

.bank-flexcontainer .black-token{
    background-color: black;
    color: white;
    grid-area: black-token;
}

.bank-flexcontainer .blue-token{
    background-color: blue;
    grid-area: blue-token;
}

.bank-flexcontainer .white-token{
    background-color: white;
    grid-area: white-token;
}

.bank-flexcontainer .joker-token{
    background-color: yellow;
    grid-area: joker-token;
}

.bank-flexcontainer .selected-tokens{
    display: flex;
    justify-content: center;
}

.bank-flexcontainer .selected-tokens button{
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    margin-top: 0.75rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.bank-flexcontainer .bank-buttons{
    display: flex;
    justify-content: center;
}

.bank-flexcontainer .bank-buttons button{
    padding: 0.5rem;
    margin: 0.5rem;
    width: 40%;
    border-radius: 0.5rem;
    font-size: 1.25rem;
}

.bank-flexcontainer .selected-tokens .selected-ruby-token{
    background-color: orangered;
}

.bank-flexcontainer .selected-tokens .selected-emerald-token{
    background-color: limegreen;
}

.bank-flexcontainer .selected-tokens .selected-onyx-token{
    background-color: #8d6830;
}

.bank-flexcontainer .selected-tokens .selected-sapphire-token{
    background-color: dodgerblue;
}

.bank-flexcontainer .selected-tokens .selected-diamond-token{
    background-color: white;
}
