.market-grid-container {
    width: min-content;
    height: min-content;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 0.6rem;
}

.deck, .development-card, .noble-article {

    background-color: var(--offwhite);
    overflow: hidden;
    border-radius: 0.5rem;
}

.deck, .development-card {
    width: 6.5rem;
    height: 8.9375rem;
}

.own-reserved-cards .development-card {
    width: 6rem;
    height: 8.25rem;
}

.own-reseved-cards .prestige-point {
    padding-bottom: 0.5rem;
}

.prestige-point{
    width: 1rem;
    height: 1rem;
    background-color: var(--main-white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 20%
}

.deck {
    display: grid;
    background-size: 100%;
    justify-content: right;
    color: var(--main-white-color);
    align-content: flex-start;
    padding-right: 0.3rem;
    font-family: Inter, serif;
    font-weight: bold;
}

.deck h2 {
    font-size: 1.5rem;
}

.development-card {
    display: grid;
    grid-template-columns: 2rem auto 2rem;
    grid-template-rows: 1.5rem auto;
    padding: .5rem;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.development-card-title {
    grid-column-start: 2;
}

.level-3 {
    grid-row-start: 2;
    background-image: url("../../../images/background-images/level-3.png");
}

.level-2 {
    grid-row-start: 3;
    background-image: url("../../../images/background-images/level-2.png");
}

.level-1 {
    grid-row-start: 4;
    background-image: url("../../../images/background-images/level-1.png");
}

.bonus {
    grid-column-start: 3;
}

.gem-costs {
    gap: .2rem;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-self: flex-end;
    font-size: x-small;
}

.gem-cost {
    padding: .25rem;
    background-color: white;
    border-radius: 50%;
}

.card-amount-left{
    font-size: 1rem;
    justify-self: right;
    color: var(--main-white-color);
    font-family: Inter, serif;
}

.bonus-costs {
    font-size: .7rem;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
}

.bonus-costs li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.2rem;
    height: 1.2rem;
    border-width: .1rem;
    border-style: solid;
    border-radius: 50%;
}

.buyable {
    box-shadow: 0 0 0.5rem 0.25rem var(--main-yellow-color);
}