.market-grid-container {
    width: min-content;
    height: min-content;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
}

.development-cards {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    gap: 1rem;
}

.deck, .development-card, .noble-article {

    background-color: grey;
    overflow: hidden;
}

.deck, .development-card {
    width: 8rem;
    height: 11rem;
}

.deck {
    display: grid;
}

.deck h2 {
    font-size: 1.5rem;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.development-card {
    display: grid;
    grid-template-columns: 2rem auto 2rem;
    grid-template-rows: 2rem auto;
    padding: .5rem;
    background-size: 100%
}

.development-card-title {
    grid-column-start: 2;
}

.prestige-point {
    grid-row-start: 1;
}

.level-3 {
    grid-row-start: 2;
}

.level-2 {
    grid-row-start: 3;
}

.level-1 {
    grid-row-start: 4;
}

.bonus {
    grid-column-start: 3;
}

.gem-costs {
    gap: .2rem;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-self: flex-end;
}

.gem-cost {
    padding: .25rem;
    background-color: white;
    border-radius: 50%;
}

.emerald {
    background-color: limegreen;
}

.ruby {
    background-color: orangered;
}

.sapphire {
    background-color: dodgerblue;
}

.diamond {
    background-color: white;
}

.onyx {
    background: #8d6830;
    color: white;
}

.gold {
    background: #ffc600;
}

.noble-article {
    width: 8rem;
    height: 4.5rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bonus-costs {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.bonus-costs li {
    padding: .25rem;
}

.buyable {
    border: solid .25rem #f41d1d;
}