.market-grid-container {
    width: min-content;
    height: min-content;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
}

.development-cards {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    gap: 1rem;
}

.deck, .development-card, .noble-article {

    background-color: grey;
    overflow: hidden;
}

.deck, .development-card {
    width: 8rem;
    height: 11rem;
}

.deck {
    display: grid;
}

.deck h2 {
    font-size: 1.5rem;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.development-card {
    display: grid;
    grid-template-columns: 2rem auto 2rem;
    grid-template-rows: 2rem auto;
    padding: .5rem;
    background-size: 100%
}

.development-card-title {
    grid-column-start: 2;
}

.prestige-point {
    grid-row-start: 1;
}

.level-3 {
    grid-row-start: 2;
}

.level-2 {
    grid-row-start: 3;
}

.level-1 {
    grid-row-start: 4;
}

.bonus {
    grid-column-start: 3;
}

.gem-costs {
    gap: .2rem;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-self: flex-end;
}

.gem-cost {
    padding: .25rem;
    background-color: white;
    border-radius: 50%;
}

.gem {
    width: max-content;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas: "gem";
}

.gem svg {
    grid-area: gem;
}

.gem-value {
    grid-area: gem;
    z-index: 2;
}

/*
background-image: url("data:image/svg+xml,%3Csvg width='73' height='134' viewBox='0 0 73 134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M67.4404 35.6738V98.3252L36.5 127.165L5.55957 98.3252V35.6738L36.5 6.83398L67.4404 35.6738Z' fill='%23CD332E' stroke='%239C352C' stroke-width='10'/%3E%3C/svg%3E");
*/

.ruby path {
    fill: var(--ruby-token-color);
    stroke: var(--ruby-token-color-border);
}

.sapphire path {
    fill: var(--sapphire-token-color);
    stroke: var(--sapphire-token-color-border);
}

.emerald path {
    fill: var(--emerald-token-color);
    stroke: var(--emerald-token-color-border);
}

.diamond path {
    fill: var(--diamond-token-color);
    stroke: var(--diamond-token-color-border);
}

.onyx path {
    fill: var(--onyx-token-color);
    stroke: var(--onyx-token-color-border);
}

.gold path {
    fill: var(--gold-token-color);
    stroke: var(--gold-token-color-border);
}

.noble-article {
    width: 8rem;
    height: 4.5rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bonus-costs {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.bonus-costs li {
    padding: .25rem;
}

.buyable {
    border: solid .25rem #f41d1d;
}