body{
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    backdrop-filter: blur(0.2rem);
}

main {
    display: grid;
    grid-template-columns: 0.75fr 2fr 0.75fr;
    grid-template-rows: auto 1fr 1.75fr auto;
    height: 100vh;
    width: 100vw;
    grid-template-areas:    "username timer header"
                            "username market info"
                            "username market bank"
                            ". user-info history";
    gap: 0.5rem;
}

header {
    grid-area: header;
    display: flex;
    justify-content: end;
    padding: .5rem;
}

header button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-container {
    grid-area: timer;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--dark-beige);
    padding: 1rem;
    border-radius: .5rem;
}

.timer {
    width: 3rem;
}

.turn-almost-done {
    color: var(--main-red-color);
}

.opponents-info {
    grid-area: username;
}

.username-flexcontainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 1rem;
}

.market-grid-container {
    grid-area: market;
}

.user-info-flexcontainer {
    grid-area: user-info;
    align-self: end;
    justify-self: center;
}

.history {
    grid-area: history;
}
.last-round-text{
    padding-top: 0.5rem;
    display: block;
}

.lobby-info {
    grid-area: info;
}

.bank-flexcontainer {
    grid-area: bank;
}

.own-player-card {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0 0.5rem 0 0;
    background-color: var(--main-white-color);
}

.own-purse {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(3, auto);
}

.own-reserved-cards {
    display: flex;
    gap: 0.5rem;
}


.noble-article {
    width: 6.5rem;
    height: 3.65625rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.gem, .card, .noble-article, .development-card {
    font-family: 'Inter', serif;
}

.player-name-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.profile-picture {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
}

