.gem-costs .gem-value {
    font-size: 1rem;
}

.gem-costs svg {
    width: 1.2rem;
    height: 1.85rem;
}

.token-bank svg {
    width: 4rem;
    height: 7.35rem;
}

.own-inventory svg {
    width: 3rem;
    height: 5rem;
}

.own-inventory .gem-value {
    font-size: 1.5rem;
}

.gem, .card {
    font-family: 'Inter', serif;
}

.gem {
    width: max-content;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas: "gem";
}

.gem svg {
    grid-area: gem;
}

.gem-value {
    font-size: 2rem;
    grid-area: gem;
    z-index: 1;
}

.ruby path {
    fill: var(--ruby-token-color);
    stroke: var(--ruby-token-color-border);
}

.card.ruby {
    background-color: var(--ruby-token-color);
    border-color: var(--ruby-token-color-border);
}

.sapphire path {
    fill: var(--sapphire-token-color);
    stroke: var(--sapphire-token-color-border);
}

.card.sapphire {
    background-color: var(--sapphire-token-color);
    border-color: var(--sapphire-token-color-border);
}

.emerald path {
    fill: var(--emerald-token-color);
    stroke: var(--emerald-token-color-border);
}

.card.emerald {
    background-color: var(--emerald-token-color);
    border-color: var(--emerald-token-color-border);
}

.diamond path {
    fill: var(--diamond-token-color);
    stroke: var(--diamond-token-color-border);
}

.card.diamond {
    background-color: var(--diamond-token-color);
    border-color: var(--diamond-token-color-border);
}

.onyx path {
    fill: var(--onyx-token-color);
    stroke: var(--onyx-token-color-border);
}

.card.onyx {
    background-color: var(--onyx-token-color);
    border-color: var(--onyx-token-color-border);
}

.onyx, .emerald, .ruby, .sapphire {
    color: white;
}

.gold path {
    fill: var(--gold-token-color);
    stroke: var(--gold-token-color-border);
}