.opponents-info{
    color: var(--black);
}

.opponents-info h2{
    font-size: 2.5rem;
    margin-top: 1.5rem;
    margin-left: 0.75rem;
}

.opponent{
    margin-top: 1.5rem;
    margin-left: 0.75rem;
}

.opponent-frame-container {
    background-color: var(--main-white-color);
    padding: .5rem;
    display: flex;
    flex-direction: column;
    width: min-content;
    border-radius: .5rem;
}

.inventory-collection {
    display: flex;
    gap: .5rem;
}

.inventory {
    position: relative;
    display: inline-block;
    margin: 0.25rem;
}

.gems {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    border: 0.1rem solid var(--main-black-color);
    color: var(--main-black-color);
}

.card {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 4%;
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid;
}

.own-inventory {
    position: relative;
    display: inline-block;
}

.own-inventory .gems {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
}

.own-inventory .card {
    width: 1.3rem;
    height: 1.3rem;
    font-size: .7rem;
}

.nobles-container {
    display: flex;
    justify-content: left;
    gap: 1rem;
    margin-top: 1.25rem;
    margin-bottom: .25rem;
}

.nobles-container.wrap {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nobles-container .noble-article {
    background-color: var(--main-bg-color);
    font-size: .75rem;
    width: 6rem;
    height: 3.375rem;
}

.opponent .noble-article {
    width: 4.2rem;
    height: 2.3625rem;
}

.nobles-container .empty, .own-reserved-cards .empty {
    background-color: transparent;
    border: .0625rem solid var(--main-black-color);
    border-radius: .5rem;
}

.reserved-label {
    font-size: 1.25rem;
    margin-top: 0.25rem;
}

.current-player #own-username, .current-player .own-player-card, .current-player .opponent-frame-container, .current-player .own-user-info {
    background-color: var(--dark-beige);
}

.opponent.current-player {
    border: none;
}

.opponent-player-info, #own-prestige-points {
    font-size: 1.75rem;
    display: flex;
    justify-content: space-between;
}

#own-prestige-points {
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
}

.min-points-to-win {
    font-size: 0.75rem;
    align-self: end;
}

.opponent-player-info .player, #own-username {
    overflow-y: hidden;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.opponent-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.interaction-indicator {
    font-family: Inter, serif;
    font-size: .8rem;
    color: var(--main-white-color);
}

.own-user-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 0.3rem;
    border-radius: 0.5rem 0.5rem 0 0;
    width: fit-content;
    background-color: var(--main-white-color);

}

#own-username {
    background-color: var(--main-white-color);
    font-size: 2.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.25rem;
    max-width: 22rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.opponent-player-info .player {
    max-width: 11.25rem;
}

.opponent-player-info .points {
    display: flex;
}

.opponent-player-info .points-text {
    margin-left: 1rem;
}

.points-bar-container {
    content: "";
    width: 100%;
    background-color: var(--lighter-green);
    margin-top: 0.25rem;
    margin-bottom: 0.2rem;
    clip-path: polygon(
            10% 0%,
            90% 0%,
            100% 50%,
            90% 100%,
            10% 100%,
            0% 50%
    ); /*source: https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path*/
}

.points-bar-container .points-bar {
    content: "";
    height: 0.9rem;
    width: 40%;
    background-color: var(--dark-green);
    clip-path: polygon(
            0% 0%,
            100% 0%,
            100% 50%,
            100% 100%,
            0% 100%,
            0% 0%
    ); /*source: https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path*/
}

.own-purse {
    position: relative;
}

.max-tokens-reached-text {
    color: var(--gold-token-color);
    position: absolute;
    bottom: 100%;
    margin-bottom: 1rem;
    text-align: center;
}