.opponents-info{
    color: var(--black);
}

.opponents-info h2{
    font-size: 2.5rem;
    margin-top: 1.5rem;
    margin-left: 0.75rem;
}

.opponent{
    justify-content: start;
    align-items: start;
    gap: .5rem;
    margin-top: 1.5rem;
    margin-left: 0.75rem;
}

.opponent-frame-container {
    background-color: var(--main-white-color);
    padding: .5rem;
    display: flex;
    flex-direction: column;
    width: min-content;
    border-radius: .5rem;
}

.inventory-collection {
    display: flex;
    gap: .5rem;
}

.inventory {
    position: relative;
    display: inline-block;
    margin: 0.25rem;
}

.gems {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    border: 0.1rem solid var(--main-black-color);
    color: var(--main-black-color);
    margin-top: 0.5rem;
}

.card {
    width: 0.75rem;
    height: 1rem;
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid var(--main-black-color);
    color: var(--main-black-color);
    margin-top: 0.5rem;
}

.own-purse>p{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem;
}

.own-inventory {
    position: relative;
    display: inline-block;
    margin: 0.25rem;
}

.own-inventory .gems {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
}

.own-inventory .card {
    width: 1.5rem;
    height: 2rem;
    font-size: 1.25rem;
    top: -0.75rem;
    right: -0.625rem;
}

.nobles-container {
    display: flex;
    justify-content: left;
    gap: 1rem;
    margin-top: 0.5rem;
}

.nobles-container.wrap {
    flex-wrap: wrap;
    justify-content: space-between;
}

.nobles-container.wrap .noble-article:last-child {
    margin: auto;
}

.nobles-container .noble-article {
    background-color: var(--main-bg-color); /* Adjust color */
    font-size: .75rem;
    width: 6rem;
    height: 4rem;
}

.nobles-container .empty, .own-reserved-cards .empty {
    background-color: transparent;
    border: .0625rem solid var(--main-bg-color);
}

.reserved-label {
    font-size: 1.25rem;
    margin-top: 0.25rem;
}

.hidden{
    display: none;
}

.red {
    background-color: orangered;
    color: black;
}
.green {
    background: lime;
    color: black;
}
.blue {
    background: dodgerblue;
    color: white;
}
.white {
    background: var(--main-white-color);
    color: black; }
.black {
    background: #8d6830;
    color: white; }
.yellow {
    background: #ffc600;
    color: black; }

.current-player .opponent-frame-container, .current-player {
    border: solid hotpink;
}

.opponent.current-player {
    border: none;
}

.opponent-player-info {
    font-size: 1.75rem;
    display: flex;
    justify-content: space-between;
}

.username-flexcontainer .points-bar-container {
    content: "";
    width: 100%;
    background-color: var(--lighter-green);
    margin-top: 0.25rem;
    margin-bottom: 0.2rem;
    display: flex;
    overflow: hidden;
    clip-path: polygon(
            10% 0%,
            90% 0%,
            100% 50%,
            90% 100%,
            10% 100%,
            0% 50%
    ); /*source: https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path*/
}

.username-flexcontainer .points-bar-container .points-bar {
    content: "";
    height: 0.9rem;
    width: 60%;
    background-color: var(--dark-green);
    clip-path: polygon(
            0% 0%,
            100% 0%,
            100% 50%,
            100% 100%,
            0% 100%,
            0% 0%
    ); /*source: https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path*/
}
