.username-flexcontainer{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.opponent{
    margin-bottom: 1rem;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: .5rem;
}

.opponent-frame-container {
    border: solid var(--main-grey-color);
    background-color: var(--main-grey-color);
    padding: .5rem;
}

.inventory {
    position: relative;
    display: inline-block;
    margin: 0.25rem;
}

.gems {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    border: 0.1rem solid var(--main-black-color);
    color: var(--main-black-color);
    margin-top: 0.5rem;
}

.card {
    width: 0.75rem;
    height: 1rem;
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid var(--main-black-color);
    color: var(--main-black-color);
    margin-top: 0.5rem;
}

.opponent-frame-container .points {
    margin-top: .5rem;
}

.own-purse>p{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem;
}

.own-inventory {
    position: relative;
    display: inline-block;
    margin: 0.25rem;
}

.own-inventory .gems {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
}

.own-inventory .card {
    width: 1.5rem;
    height: 2rem;
    font-size: 1.25rem;
    top: -0.75rem;
    right: -0.625rem;
}

.nobles-container {
    display: flex;
    justify-content: left;
    gap: 1rem;
    margin-top: 0.5rem;
}

.nobles-container .noble-article {
    background-color: var(--main-bg-color); /* Adjust color */
    font-size: .75rem;
    width: 6rem;
    height: 4rem;
}

.nobles-container .empty, .own-reserved-cards .empty {
    background-color: transparent;
    border: .0625rem solid var(--main-bg-color);
}

.reserved-label {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.reserved-label:before{
    display: inline-block;
    content: "";
    min-width: 1rem;
    min-height: 1.5rem;
    background-color: grey;
}

.hidden{
    display: none;
}

.red {
    background-color: orangered;
    color: black;
}
.green {
    background: lime;
    color: black;
}
.blue {
    background: dodgerblue;
    color: white;
}
.white {
    background: var(--main-white-color);
    color: black; }
.black {
    background: #8d6830;
    color: white; }
.yellow {
    background: #ffc600;
    color: black; }

.current-player .opponent-frame-container {
    border: solid hotpink;
}
