body{
    position: relative;
    font-family: "Saira stencil one", Arial, serif;
}

.form-flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.gem-chooser {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.gem-chooser p {
    align-self: center;
    padding: 0.2rem;
}

.gem-chooser .gem-chooser-own-gems-text {
    width: 6rem;
}

.gem-chooser .input-and-cost {
    display: flex;
    justify-content: space-between;
}

.gem-chooser .gem-chooser-input,  .gem-chooser .gem-chooser-own-gems {
    display: flex;
}

.input-and-cost {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.gem-selector-input {
    flex: 1;
    max-width: 6rem;
}

.popup-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 75%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-container .popup {
    color: var(--main-black-color);
    background-color: var(--offwhite);
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 3rem;
    text-align: center;
}

.popup-container.hidden{
    display: none;
}

#close{
    justify-content: right;
}


.popup-token-selector {
    background-color: var(--offwhite);
    color: var(--main-black-color, #333);
    padding: 2rem;
    border-radius: 1rem;
    max-width: 20rem;
    width: 90%;
    margin: auto;
    font-family: "Saira stencil one", Arial, serif;
    font-size: 1rem;
    position: relative;
}



.gem-selector-input {
    display: block;
    width: 50%;
    padding: 0.5rem;
    margin-top: 0.25rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
}



.emerald-name{
    color: var(--emerald-token-color);
}

.ruby-name{
    color: var(--ruby-token-color);
}

.onyx-name{
    color: var(--onyx-token-color);
}

.sapphire-name{
    color: var(--sapphire-token-color);
}

.diamond-name{
    color: var(--diamond-token-color-border);
}

.gold-name{
    color: var(--gold-token-color);
}

.button-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

#token-selector-close-button {
    font-size: 1rem;
    border-radius: 0.5rem;
    border: var(--dark-beige) solid;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#token-selector-close-button:hover {
    background-color: var(--brown);
    border-color: var(--main-black-color);
}

#token-selector-form input[type="submit"] {
    font-size: 1rem;
    border-radius: 0.5rem;
    border: var(--dark-beige) solid;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#token-selector-form input[type="submit"]:disabled {
    cursor: auto;
}

.popup-token-selector .button-style {
    padding: 0 0.5rem;
}

.popup-token-selector .errormessages p {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}
/*end region*/

/*username popup*/

#playername-text{
    width: 50%;
    padding: 0.5rem;
    margin-top: 0.25rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
}

#close-popup{
    display: flex;
    text-decoration: none;
    justify-content: flex-end;
    font-size: 1.5rem;
    color: var(--main-black-color);
}

#playername-changer label{
    font-family: "Saira stencil one", Arial, serif;
}

.error-username-selector{
    font-size: 1.5rem;
    color: var(--main-red-color);
}

/*end region*/